.content-beauSlider {
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

#beauSlider {
    display: flex;
    color: rgb(0, 116, 228);
    position: relative;
    left: 50%;
    top: 300px;
    transform: translate(-9%, -50%);
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
}

.block_slider  {
    z-index: 5;
    inset: 1px;
    background: rgb(28,28,28);
    width: 700px;
    height: 400px;
    display: flex;
    border-radius: 4px;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    margin: 50px }

.content-btn {
    display: flex;
    align-items: center;
    position: absolute;
    max-width: 800px;
    justify-content: space-between;
    z-index: 5;
    width: 100%;
}

.next, .prev {
    border: 1px solid rgb(0, 116, 228);
    background-color: rgb(28, 28, 28);
    border-radius: 5px;
    padding: 20px;
    width: 20px;
    height: 20px;
}

.arrownext, .arrowprev {
    content: "";
    display: block;
    box-sizing: border-box;
    color: rgb(0, 116, 228);
    margin: 20px;
    width: 15px;
    height: 15px;
    position: relative;
    transform: rotate( -135deg ); }

span.arrownext {
    border-bottom: 4px solid;
    border-left: 4px solid;
    right: 19px;
    bottom: 17px;
}

span.arrowprev {
    border-top: 4px solid;
    border-right: 4px solid;
    left: -14px;
    bottom: 17px;
}
